# Node
node_modules/
npm-debug.log*
yarn.lock
pnpm-lock.yaml

# Build / dist
dist/
build/
.out/
.cache/

# Logs
logs/
*.log

# Env
.env
.env.local
.env.production
.env.development

# OS / Editor junk
.DS_Store
Thumbs.db
.idea/
.vscode/
